.image{
    display:inline-block;
    margin-inline-end: 10%;
    
}
.heading{
    display: inline-block;
    margin-right: 50%;
}
.one{
    display: inline-block;
    margin-left: 1%;

    
}
.two{
    display: inline-block;
    margin-left: 12%;
}
.three
{
    display: inline-block;
    margin-left: 15%;
}
            
    
    
